In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
# Website URL
url = "http://books.toscrape.com/"

In [3]:
# Send a request to load the page
response = requests.get(url)
soup = BeautifulSoup(response.content, "html.parser")

In [4]:
# Extract all book items from the page
books = soup.find_all("article", class_="product_pod")

In [5]:
# List to store the book data
book_list = []

In [6]:
# Loop through each book and get its data
for book in books:
    title = book.h3.a["title"]  # Book title
    price = book.find("p", class_="price_color").text  # Book price
    rating = book.p["class"][1]  # Book rating (e.g. 'Three', 'Four')

    # Add the data to our list
    book_list.append({
        "Title": title,
        "Price": price,
        "Rating": rating
    })

In [7]:
# Convert the list to a DataFrame (table format)
df = pd.DataFrame(book_list)

# Print the data and save it to a CSV file
print(df)
df.to_csv("books.csv", index=False)

                                                Title   Price Rating
0                                A Light in the Attic  £51.77  Three
1                                  Tipping the Velvet  £53.74    One
2                                          Soumission  £50.10    One
3                                       Sharp Objects  £47.82   Four
4               Sapiens: A Brief History of Humankind  £54.23   Five
5                                     The Requiem Red  £22.65    One
6   The Dirty Little Secrets of Getting Your Dream...  £33.34   Four
7   The Coming Woman: A Novel Based on the Life of...  £17.93  Three
8   The Boys in the Boat: Nine Americans and Their...  £22.60   Four
9                                     The Black Maria  £52.15    One
10     Starving Hearts (Triangular Trade Trilogy, #1)  £13.99    Two
11                              Shakespeare's Sonnets  £20.66   Four
12                                        Set Me Free  £17.46   Five
13  Scott Pilgrim's Precious Little Life (Scott Pi...  £52.29   Five
14                          Rip it Up and Start Again  £35.02   Five
15  Our Band Could Be Your Life: Scenes from the A...  £57.25  Three
16                                               Olio  £23.88    One
17  Mesaerion: The Best Science Fiction Stories 18...  £37.59    One
18                       Libertarianism for Beginners  £51.33    Two
19                            It's Only the Himalayas  £45.17    Two