**1-Write a Python program to calculate the length of a string using 2 ways

In [ ]:
# Using len()
text = input("Enter a string: ")
length = len(text)
print("Length of the string using len():", length)

Enter a string: Happy
Length of the string using len(): 5

In [ ]:
# Using a loop
text = input("Enter a string: ")
count = 0

for char in text:
    count += 1

print("Length of the string using loop:", count)

Enter a string: Happy
Length of the string using loop: 5

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [ ]:
# Get input from user
text = input("Enter a string: ")

# Check if the string has less than 2 characters or contains spaces
if len(text) < 2 or ' ' in text:
    result = ""
else:
    result = text[:2] + text[-2:]

# Print the result
print("Result:", result)

Enter a string: w3
Result: w3w3

In [ ]:
# Get input from user
text = input("Enter a string: ")

# Check if the string has less than 2 characters or contains spaces
if len(text) < 2 or ' ' in text:
    result = ""
else:
    result = text[:2] + text[-2:]

# Print the result
print("Result:", result)

Enter a string: w
Result:

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [ ]:
# Get input from user
text = input("Enter a string: ")

# Check the length of the string
if len(text) < 3:
    result = text
elif text.endswith("ing"):
    result = text + "ly"
else:
    result = text + "ing"

# Print the result
print("Result:", result)

Enter a string: abc
Result: abcing

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [ ]:
def find_longest_word(word_list):
    longest = max(word_list, key=len)
    return longest, len(longest)

# Example usage
words = ["Python", "Exercises", "Data", "Science"]
longest_word, length = find_longest_word(words)

print("Longest word:", longest_word)
print("Length of the longest word:", length)

Longest word: Exercises
Length of the longest word: 9

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abca  Expected Result:ebce)

In [ ]:
# Get input from user
text = input("Enter a string: ")

# Check if the string length is less than 2
if len(text) < 2:
    result = text
else:
    result = text[-1] + text[1:-1] + text[0]

print("Result :", result)

Enter a string: abca
Result : abca

In [ ]:
# Get input from user
text = input("Enter a string: ")

# Check if the string length is less than 2
if len(text) < 2:
    result = text
else:
    chars = list(text)
    chars[0], chars[-1] = chars[-1], chars[0]
    result = ''.join(chars)

print("Result :", result)

Enter a string: ebce
Result : ebce

\**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
# Get input from user
text = input("Enter a string: ")

# Keep only characters at even indexes (0, 2, 4, ...)
result = text[::2]

print("Result:", result)

Enter a string: abca
Result: ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
# Get input sentence from user
sentence = input("Enter a sentence: ")

# Convert sentence to lowercase to make counting case-insensitive
sentence = sentence.lower()

# Split sentence into words
words = sentence.split()

# Create a dictionary to store word counts
word_count = {}

# Count each word
for word in words:
    if word in word_count:
        word_count[word] += 1
    else:
        word_count[word] = 1

# Print all word counts
print("Word occurrences:")
for word, count in word_count.items():
    print(f"{word}: {count}")

# Optional: Get the count for a specific word
search_word = "amr"
print(f"\nOccurrences of '{search_word}':", word_count.get(search_word, 0))

Enter a sentence: amr
Word occurrences:
amr: 1

Occurrences of 'amr': 1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
# Get input from the user
text = input("Enter a string: ")

# Convert and display in uppercase
print("Uppercase:", text.upper())

# Convert and display in lowercase
print("Lowercase:", text.lower())

Enter a string: ABdalrAHMAN
Uppercase: ABDALRAHMAN
Lowercase: abdalrahman

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
def reverse_if_multiple_of_4(text):
    if len(text) % 4 == 0:
        return text[::-1]
    else:
        return text

user_input = input("Enter a string: ")
result = reverse_if_multiple_of_4(user_input)
print("Result:", result)

Enter a string: help
Result: pleh

**10- Write a Python program to remove a newline in Python

In [ ]:
# Get input from user (simulate a string with newlines)
text = input("Enter a string : ")

# Remove all newline characters
cleaned_text = text.replace('\n', '')

# Print the result
print("Text without newlines:", cleaned_text)

Enter a string : Hello\nWorld
Text without newlines: Hello\nWorld

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
# Get input from user
text = input("Enter a string: ")

# Get the prefix to check
prefix = input("Enter the starting characters to check: ")

# Check if the string starts with the specified characters
if text.startswith(prefix):
    print(f"Yes, the string starts with '{prefix}'.")
else:
    print(f"No, the string does not start with '{prefix}'.")

Enter a string: Hello World
Enter the starting characters to check: Hello
Yes, the string starts with 'Hello'.

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
# Sample multi-line string
text = input("Enter multiple lines (use \\n for new lines): ")
prefix = input("Enter prefix: ")
prefixed_text = '\n'.join(prefix + line for line in text.splitlines())
print("\nResult:\n", prefixed_text)

Enter multiple lines (use \n for new lines): one
Enter prefix: 2

Result:
 2one

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
# Example number
number = float(input("Enter a number: "))

# Method 1: Using format() function
print("Using format(): {:.2f}".format(number))

# Method 2: Using f-string (Python 3.6+)
print(f"Using f-string: {number:.2f}")

# Method 3: Using round() function (note: returns float, not string formatting)
print("Using round():", round(number, 2))

Enter a number: 12.45678
Using format(): 12.46
Using f-string: 12.46
Using round(): 12.46

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
# Get input from the user
number = float(input("Enter a number: "))

# Method 1: Using format() with sign
print("Using format(): {:+.2f}".format(number))

# Method 2: Using f-string with sign
print(f"Using f-string: {number:+.2f}")

Enter a number:  +12.46
Using format(): +12.46
Using f-string: +12.46

**15-Write a Python program to display a number with a comma separator

In [ ]:
# Get input from user
number = int(input("Enter a number: "))

# Method 1: Using format()
print("Using format(): {:,}".format(number))

# Method 2: Using f-string
print(f"Using f-string: {number:,}")

Enter a number: 1000000
Using format(): 1,000,000
Using f-string: 1,000,000

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
# Get input from user
text = input("Enter a string: ")

# Reverse using slicing
reversed_text = text[::-1]

print("Reversed using slicing:", reversed_text)

Enter a string: hello
Reversed using slicing: olleh

In [ ]:
# Get input from user
text = input("Enter a string: ")

# Reverse using a loop
reversed_text = ""
for char in text:
    reversed_text = char + reversed_text

print("Reversed using loop:", reversed_text)

Enter a string: hello
Reversed using loop: olleh

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
# Get input from user
text = input("Enter a string: ")

# Create an empty dictionary to store character counts
char_count = {}

# Loop through each character in the string
for char in text:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1

# Print only characters that are repeated
print("Repeated characters:")
for char, count in char_count.items():
    if count > 1:
        print(f"{char}: {count}")

Enter a string: programming
Repeated characters:
r: 2
g: 2
m: 2

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
def first_non_repeating_char(text):
    # Create a dictionary to count character occurrences
    char_count = {}

    # Count each character
    for char in text:
        char_count[char] = char_count.get(char, 0) + 1

    # Find the first character with count 1
    for char in text:
        if char_count[char] == 1:
            return char

    return None  # If all characters are repeating

# Get input from the user
input_string = input("Enter a string: ")

# Find and display the result
result = first_non_repeating_char(input_string)

if result:
    print("First non-repeating character:", result)
else:
    print("No non-repeating character found.")

Enter a string: aabbcc
First non-repeating character:

**19-Write a Python program to remove spaces from a given string

In [ ]:
# Get input from user
text = input("Enter a string: ")

# Remove all spaces
no_spaces = text.replace(" ", "")

# Print the result
print("String without spaces:", no_spaces)

Enter a string: ahmed is fun
String without spaces: ahmedisfun

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
# Get input from user
text = input("Enter a string: ")

# Length of the string
n = len(text)


count = n * (n + 1) // 2

print("Number of non-empty substrings:", count)

Enter a string: abc
Number of non-empty substrings: 6

**21-write a Python program to swap first and last element of any list.

In [ ]:
# Function to swap first and last elements
def swap_first_last(lst):
    if len(lst) < 2:
        return lst  # No need to swap if list has 0 or 1 element
    lst[0], lst[-1] = lst[-1], lst[0]
    return lst

# Example usage
my_list = input("Enter list elements separated by spaces: ").split()
print("Original list:", my_list)

# Swap first and last
swapped_list = swap_first_last(my_list)
print("List after swapping first and last:", swapped_list)

Enter list elements separated by spaces: a b c d
Original list: ['a', 'b', 'c', 'd']
List after swapping first and last: ['d', 'b', 'c', 'a']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
# Function to swap elements at given positions
def swap_elements(lst, pos1, pos2):
    # Subtract 1 from positions to convert to 0-based index
    lst[pos1 - 1], lst[pos2 - 1] = lst[pos2 - 1], lst[pos1 - 1]
    return lst

# Example list
my_list = [23, 65, 19, 90]

# Input positions from user
pos1 = int(input("Enter position 1: "))
pos2 = int(input("Enter position 2: "))

print("Original list:", my_list)

# Swap and show result
swapped_list = swap_elements(my_list, pos1, pos2)
print("List after swapping:", swapped_list)

Enter position 1: 1
Enter position 2: 3
Original list: [23, 65, 19, 90]
List after swapping: [19, 65, 23, 90]

**23- search for the all ways to know the length of the list

In [ ]:
my_list = [1, 2, 3, 4, 5]
length = len(my_list)
print("Length using len():", length)

Length using len(): 5

In [ ]:
my_list = [1, 2, 3, 4, 5]
count = 0
for _ in my_list:
    count += 1
print("Length using loop:", count)

Length using loop: 5

In [ ]:
my_list = [1, 2, 3, 4, 5]
for index, _ in enumerate(my_list, start=1):
    pass
print("Length using enumerate():", index)

Length using enumerate(): 5

In [ ]:
my_list = [1, 2, 3, 4, 5]
length = sum(1 for _ in my_list)
print("Length using sum() and generator:", length)

Length using sum() and generator: 5

In [ ]:
from functools import reduce

my_list = [1, 2, 3, 4, 5]
length = reduce(lambda total, _: total + 1, my_list, 0)
print("Length using reduce():", length)

Length using reduce(): 5

In [ ]:
def list_length(lst):
    if not lst:
        return 0
    return 1 + list_length(lst[1:])

my_list = [1, 2, 3, 4, 5]
print("Length using recursion:", list_length(my_list))

Length using recursion: 5

**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
numbers = [23, 65, 19, 90, 34]
maximum = max(numbers)
print("Maximum number (using max()):", maximum)

Maximum number (using max()): 90

In [ ]:
numbers = [23, 65, 19, 90, 34]
max_num = numbers[0]

for num in numbers:
    if num > max_num:
        max_num = num

print("Maximum number (using loop):", max_num)

Maximum number (using loop): 90

In [ ]:
numbers = [23, 65, 19, 90, 34]
maximum = sorted(numbers)[-1]
print("Maximum number (using sorted()):", maximum)

Maximum number (using sorted()): 90

**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
numbers = [23, 65, 19, 90, 34]
minimum = min(numbers)
print("Minimum number (using min()):", minimum)

Minimum number (using min()): 19

In [ ]:
numbers = [23, 65, 19, 90, 34]
min_num = numbers[0]

for num in numbers:
    if num < min_num:
        min_num = num

print("Minimum number (using loop):", min_num)

Minimum number (using loop): 19

In [ ]:
numbers = [23, 65, 19, 90, 34]
minimum = sorted(numbers)[0]
print("Minimum number (using sorted()):", minimum)

Minimum number (using sorted()): 19

**26-search for if an elem is existing in list

In [ ]:
my_list = [10, 20, 30, 40, 50]
element = int(input("Enter the element to search: "))

if element in my_list:
    print(f"{element} exists in the list.")
else:
    print(f"{element} does not exist in the list.")

Enter the element to search: 30
30 exists in the list.

In [ ]:
my_list = [10, 20, 30, 40, 50]
element = int(input("Enter the element to search: "))

found = False
for item in my_list:
    if item == element:
        found = True
        break

if found:
    print(f"{element} exists in the list.")
else:
    print(f"{element} does not exist in the list.")

Enter the element to search: 30
30 exists in the list.

In [ ]:
my_list = [10, 20, 30, 40, 50]
element = int(input("Enter the element to search: "))

if my_list.count(element) > 0:
    print(f"{element} exists in the list.")
else:
    print(f"{element} does not exist in the list.")

Enter the element to search: 30
30 exists in the list.

**27- clear python list using different ways

In [ ]:
my_list = [1, 2, 3]
my_list.clear()
print("After clear():", my_list)

After clear(): []

In [ ]:
my_list = [1, 2, 3]
my_list[:] = []
print("After slice assignment:", my_list)

After slice assignment: []

**28-remove duplicated elements from a list

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(set(my_list))
print("Without duplicates (unordered):", unique_list)

Without duplicates (unordered): [1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = []
for item in my_list:
    if item not in unique_list:
        unique_list.append(item)
print("Without duplicates (ordered):", unique_list)

Without duplicates (ordered): [1, 2, 3, 4, 5]

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 5]
unique_list = list(dict.fromkeys(my_list))
print("Without duplicates (ordered):", unique_list)

Without duplicates (ordered): [1, 2, 3, 4, 5]

In [ ]:
my_list = [3, 1, 2, 1, 3, 4]
unique_sorted = sorted(set(my_list))
print("Unique and sorted:", unique_sorted)

Unique and sorted: [1, 2, 3, 4]

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
# Input lists
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]

# Convert to list of dictionaries
result = [dict(zip(key_list, test_list[i:i+len(key_list)]))
          for i in range(0, len(test_list), len(key_list))]

# Output the result
print("Output:", result)

Output: [{'name': 'Gfg', 'id': 3}, {'name': 'is', 'id': 8}]

**30-write a python program to count unique values inside a list using different ways

In [ ]:
my_list = [1, 2, 2, 3, 4, 4, 4, 5]

In [ ]:
unique_count = len(set(my_list))
print("Unique values (using set):", unique_count)

Unique values (using set): 5

In [ ]:
from collections import Counter

counter = Counter(my_list)
unique_count = len(counter)
print("Unique values (using Counter):", unique_count)

Unique values (using Counter): 5

In [ ]:
unique_items = []
for item in my_list:
    if item not in unique_items:
        unique_items.append(item)

unique_count = len(unique_items)
print("Unique values (using loop):", unique_count)

Unique values (using loop): 5

In [ ]:
unique_count = len(dict.fromkeys(my_list))
print("Unique values (using dict.fromkeys):", unique_count)

Unique values (using dict.fromkeys): 5

In [ ]:
unique_count = len({item for item in my_list})
print("Unique values (using set comprehension):", unique_count)

Unique values (using set comprehension): 5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3
Output : [4, 3] )

In [ ]:
from collections import Counter

# Input list and K
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3

# Count frequencies using Counter
freq = Counter(test_list)

# Extract elements with frequency > K
result = [key for key, count in freq.items() if count > K]

# Print result
print("Elements with frequency > K:", result)

Elements with frequency > K: [4, 3]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
# Input list
nums = [1, 2, 2, 3, 4, 5]

# Output list to store strongest neighbours
strongest = []

# Loop to compare each element with its next neighbor
for i in range(len(nums) - 1):
    strongest.append(max(nums[i], nums[i + 1]))

# Print result
print("Strongest Neighbours:", strongest)

Strongest Neighbours: [2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
import itertools

# Input list
digits = [1, 2, 3]

# Get all permutations of 3 digits
perms = list(itertools.permutations(digits))

# Print results
print("All possible combinations:")
for p in perms:
    print(*p, "##")

All possible combinations:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1 ##

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3]
Output:
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
# Input list
test_list = [1, 2, 3]

# Result list
result = []

# Generate combinations using nested loops
for i in range(len(test_list)):
    for j in range(i + 1, len(test_list) + 1):
        result.append(test_list[i:j])

# Print the result
print("Combinations with order:")
for combo in result:
    print(combo)

Combinations with order:
[1]
[1, 2]
[1, 2, 3]
[2]
[2, 3]
[3]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
from itertools import permutations

# Input lists
List_1 = ["a", "b"]
List_2 = [1, 2]

# Store the unique combinations
unique_combinations = []

# Generate all permutations of List_2
for perm in permutations(List_2):
    combo = list(zip(List_1, perm))
    unique_combinations.append(combo)

# Print the result
print("Unique combinations:")
for uc in unique_combinations:
    print(uc)

Unique combinations:
[('a', 1), ('b', 2)]
[('a', 2), ('b', 1)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1

**Output : 2 3 4 5 2)

In [ ]:
# Input list
input_list = [1, 1, 2, 3, 4, 5, 1, 2, 1]

# Element to remove
to_remove = 1

# Using list comprehension to filter the element
result = [x for x in input_list if x != to_remove]

# Print the result
print("List after removing all occurrences of", to_remove, ":", result)

List after removing all occurrences of 1 : [2, 3, 4, 5, 2]

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
# Original lists
list1 = ['Gfg', 'is', 'best']
list2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]

# Replace each index in list2 with the corresponding element from list1
result = [list1[i] for i in list2]

# Print the result
print("The lists after index elements replacements is :", result)

The lists after index elements replacements is : ['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3
Output : [] )

In [ ]:
# Sample input
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2

# Filter tuples where K occurs exactly N times
result = [t for t in test_list if t.count(K) == N]

# Output the result
print("Filtered tuples:", result)

Filtered tuples: [(4, 5, 5, 4)]

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
# Input array
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]

# Sort by column 0
sorted_col_0 = sorted(array, key=lambda x: x[0])
print("Sorted by column 0:", sorted_col_0)

# Sort by column 1
sorted_col_1 = sorted(array, key=lambda x: x[1])
print("Sorted by column 1:", sorted_col_1)

# Sort by column 2
sorted_col_2 = sorted(array, key=lambda x: x[2])
print("Sorted by column 2:", sorted_col_2)

Sorted by column 0: [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted by column 1: [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted by column 2: [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

Output:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
# Input dictionary
my_dict = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}

# Sort by key
sorted_by_key = dict(sorted(my_dict.items(), key=lambda x: x[0]))
print("Sorted by Key:")
print(sorted_by_key)

# Sort by value
sorted_by_value = dict(sorted(my_dict.items(), key=lambda x: x[1]))
print("\nSorted by Value:")
print(sorted_by_value)

Sorted by Key:
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

Sorted by Value:
{'yash': 2, 'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
# Input dictionary and threshold K
test_dict = {'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
K = 7

# Filter dictionary: keep only keys where value is not > K or not a number
result = {key: val for key, val in test_dict.items()
          if not isinstance(val, (int, float)) or val <= K}

# Output result
print("Filtered dictionary:", result)

Filtered dictionary: {'Gfg': 3, 'is': 7, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# Sample dictionaries
dic1 = {1: 10, 2: 20}
dic2 = {3: 30, 4: 40}
dic3 = {5: 50, 6: 60}

# Method 1: Using dictionary unpacking (Python 3.5+)
result = {**dic1, **dic2, **dic3}
print("Concatenated Dictionary (using unpacking):", result)

Concatenated Dictionary (using unpacking): {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
my_dict = {
    'name': 'Alice',
    'age': 25,
    'city': 'New York'
}

In [ ]:
for key in my_dict:
    print("Key:", key)

Key: name
Key: age
Key: city

In [ ]:
for value in my_dict.values():
    print("Value:", value)

Value: Alice
Value: 25
Value: New York

In [ ]:
for key, value in my_dict.items():
    print("Key:", key, "→ Value:", value)

Key: name → Value: Alice
Key: age → Value: 25
Key: city → Value: New York

In [ ]:
for index, (key, value) in enumerate(my_dict.items()):
    print(f"{index}. {key} → {value}")

0. name → Alice
1. age → 25
2. city → New York

**44- Write a Python script to merge two Python dictionaries

In [ ]:
dict1 = {'a': 100, 'b': 200}
dict2 = {'c': 300, 'd': 400}

In [ ]:
merged_dict = {**dict1, **dict2}
print("Merged Dictionary (unpacking):", merged_dict)

Merged Dictionary (unpacking): {'a': 100, 'b': 200, 'c': 300, 'd': 400}

In [ ]:
merged_dict = dict1.copy()  # To avoid changing dict1
merged_dict.update(dict2)
print("Merged Dictionary (update):", merged_dict)

Merged Dictionary (update): {'a': 100, 'b': 200, 'c': 300, 'd': 400}

In [ ]:
merged_dict = dict1 | dict2
print("Merged Dictionary (| operator):", merged_dict)

Merged Dictionary (| operator): {'a': 100, 'b': 200, 'c': 300, 'd': 400}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
# Sample dictionary
my_dict = {'a': 10, 'b': 25, 'c': 5, 'd': 42}

# Get maximum and minimum values
max_value = max(my_dict.values())
min_value = min(my_dict.values())

# Print results
print("Maximum value in dictionary:", max_value)
print("Minimum value in dictionary:", min_value)

Maximum value in dictionary: 42
Minimum value in dictionary: 5

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
# Original dictionary
original_dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}

# Remove keys with None values
filtered_dict = {k: v for k, v in original_dict.items() if v is not None}

# Print result
print("Original Dictionary:", original_dict)
print("New Dictionary after dropping empty items:", filtered_dict)

Original Dictionary: {'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items: {'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
# Create a tuple of numbers
numbers = (10, 20, 30, 40, 50)

# Print one item (e.g., second item - index 1)
print("The second item in the tuple is:", numbers[1])

The second item in the tuple is: 20

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
# Create a tuple
person = ("Alice", 25, "New York")

# Unpack tuple into variables
name, age, city = person

# Print the unpacked values
print("Name:", name)
print("Age:", age)
print("City:", city)

Name: Alice
Age: 25
City: New York

**49-Write a Python program to add an item to a tuple

In [ ]:
# Original tuple
original_tuple = (1, 2, 3)

# Item to add
new_item = 4

# Create a new tuple by concatenation
new_tuple = original_tuple + (new_item,)

# Print the result
print("Original Tuple:", original_tuple)
print("New Tuple after adding item:", new_tuple)

Original Tuple: (1, 2, 3)
New Tuple after adding item: (1, 2, 3, 4)

**50-Write a Python program to convert a tuple to a string

In [ ]:
# Tuple of characters or words
my_tuple = ('H', 'e', 'l', 'l', 'o')

# Convert tuple to string using join()
result = ''.join(my_tuple)

# Print the result
print("Converted string:", result)

Converted string: Hello

**51-Write a Python program to convert a list to a tuple

In [ ]:
# Sample list
my_list = [1, 2, 3, 4, 5]

# Convert list to tuple
my_tuple = tuple(my_list)

# Print result
print("Original List:", my_list)
print("Converted Tuple:", my_tuple)

Original List: [1, 2, 3, 4, 5]
Converted Tuple: (1, 2, 3, 4, 5)

**52-Write a Python program to reverse a tuple

In [ ]:
# Original tuple
my_tuple = (10, 20, 30, 40, 50)

# Reverse the tuple using slicing
reversed_tuple = my_tuple[::-1]

# Print the result
print("Original Tuple:", my_tuple)
print("Reversed Tuple:", reversed_tuple)

Original Tuple: (10, 20, 30, 40, 50)
Reversed Tuple: (50, 40, 30, 20, 10)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
# Sample list of tuples
sample_list = [(10, 20, 40), (40, 50, 60), (70, 80, 90)]

# New value to replace the last element
new_last_value = 100

# Create a new list with modified tuples
updated_list = [t[:-1] + (new_last_value,) for t in sample_list]

# Print the result
print("Updated list:", updated_list)

Updated list: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
# Original string
original_str = "python 3.0"

# Remove spaces (optional, if needed)
cleaned_str = original_str.replace(" ", "")

# Convert to tuple
result_tuple = tuple(cleaned_str)

# Print results
print("Original string:", original_str)
print("Type before conversion:", type(original_str))
print("Converted to tuple:", result_tuple)
print("Type after conversion:", type(result_tuple))

Original string: python 3.0
Type before conversion: <class 'str'>
Converted to tuple: ('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')
Type after conversion: <class 'tuple'>

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
# Sample tuple of tuples
tuple_data = ((10, 20, 30), (40, 50, 60), (70, 80, 90))

# Flatten the tuple and calculate average
all_numbers = [num for tup in tuple_data for num in tup]
average = sum(all_numbers) / len(all_numbers)

# Print result
print("All numbers:", all_numbers)
print("Average value:", average)

All numbers: [10, 20, 30, 40, 50, 60, 70, 80, 90]
Average value: 50.0

**56-Write a Python program to add member(s) to a set.

In [ ]:
# Initial set
my_set = {1, 2, 3}
print("Original set:", my_set)

# Add a single element
my_set.add(4)
print("After adding one element (4):", my_set)

# Add multiple elements
my_set.update([5, 6, 7])
print("After adding multiple elements [5, 6, 7]:", my_set)

Original set: {1, 2, 3}
After adding one element (4): {1, 2, 3, 4}
After adding multiple elements [5, 6, 7]: {1, 2, 3, 4, 5, 6, 7}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
# Initial set
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)

# Item to remove
item_to_remove = 3

# Safely remove the item using discard (won't raise error if not present)
my_set.discard(item_to_remove)

# Print updated set
print("Set after removing", item_to_remove, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
# Define two sets
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

# Intersection: common elements
intersection_result = set1 & set2
print("Intersection:", intersection_result)

# Union: all unique elements from both sets
union_result = set1 | set2
print("Union:", union_result)

# Difference: elements in set1 but not in set2
difference_result = set1 - set2
print("Difference (set1 - set2):", difference_result)

# Symmetric Difference: elements in either set1 or set2 but not both
symmetric_diff_result = set1 ^ set2
print("Symmetric Difference:", symmetric_diff_result)

Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Difference (set1 - set2): {1, 2, 3}
Symmetric Difference: {1, 2, 3, 6, 7, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
# Define a set of numbers
my_set = {10, 25, 5, 70, 42}

# Find maximum and minimum values
max_value = max(my_set)
min_value = min(my_set)

# Print results
print("Original set:", my_set)
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Original set: {42, 5, 70, 25, 10}
Maximum value: 70
Minimum value: 5

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:
# Sample list and target sum
numbers = [1, 2, 3, 4, 5, 6, 7]
target_sum = 8

# Store result pairs
pairs = []

# Find all pairs (brute-force approach)
for i in range(len(numbers)):
    for j in range(i + 1, len(numbers)):
        if numbers[i] + numbers[j] == target_sum:
            pairs.append((numbers[i], numbers[j]))

# Print result
print("Pairs with sum =", target_sum, ":", pairs)

Pairs with sum = 8 : [(1, 7), (2, 6), (3, 5)]